.info{
    size: 75%;
}
.root{
    size: 45%;
    margin-left: auto;
    min-width: 120px;
    
}
.project{
    display: flex;
    justify-content: center;
    width: 55%;
    justify-content: left;
    background-color: white;
    color: black;
    padding-right: 2%;
    padding-top: 1%;
    border-radius: 25px;
    border: 2px solid #000
}
.big-project{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul{
    text-align: left
}
h5{
    margin-left: auto;
}
h4{
    padding-top: 2%;
}

@media screen and (max-width: 550px){
    .project{
        width: 90%;
    }
}
